.login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: pink;
    .container {
        width: 400px;
        height: 300px;
        position: relative;
        .btn {
            width: 100%;
        }
    }
    
}
